/*--------------------------------------------------------------
# UNIVERSAL ROOT COLORS
--------------------------------------------------------------*/
:root {
	--white-color: #fff;
	--black-color: hsl(210, 12%, 15%);
	--body-color: hsl(210, 16%, 12%);
	--container-color: hsl(210, 24%, 8%);
	--body-font: "Poppins", sans-serif;
	--normal-font-size: .938rem;
  }
.back_about,
.back_domains,
.back_prices,
pre,
.timeline-item,
.cta,
.faq-section, .back_contactus, .back_teams, .custom-col, .track-price {
	font-family: "Teko", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: 1.8rem !important;
	line-height: 40px;
}
.back_sponsors {
	background-color: #aa1d39;
	padding-bottom: 0vw;

}

.back_puw {
	background-color: #f0f5fa;
}

.back_contactus {
	background-color: #f0f5fa;
}

.back_contact {
	background-color: #f0f5fa;
}

.back_faq {
	background-color: #333;
}

.back_prices,
#hackathon-timeline,
.back_sponsors,
.faq-section {
	background: rgb(34, 33, 33);
	background: radial-gradient(circle, rgba(34, 33, 33, 1) 0%, rgba(2, 6, 8, 1) 100%);
}
.back_teams {
	background-color: #161623;
}
/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/
#hackathon-timeline {
	background-color: #111;
	color: #fff;
	padding: 40px;
	overflow: hidden;
}
#hackathon-timeline h2 {
	text-align: center;
	margin-bottom: 40px;
	color: #00FF9C;
}
.timeline {
	position: relative;
	margin: 0 auto;
	padding: 20px 0;
	width: 80%;
}
.timeline-line {
	position: absolute;
	left: 50%;
	top: 0;
	width: 4px;
	background: #00FF9C;
	transform: translateX(-50%);
	z-index: 1;
	height: 0;
	transition: height 1s ease;
}
.timeline-item {
	position: relative;
	margin: 20px 0;
	padding-left: 50%;
	z-index: 2;
}
.timeline-item:nth-child(even) {
	padding-left: 0;
	padding-right: 50%;
	text-align: right;
}
.timeline-item::before {
	content: "";
	position: absolute;
	left: 50%;
	width: 20px;
	height: 20px;
	background: #00FF9C;
	border-radius: 50%;
	z-index: 3;
	transform: translateX(-50%);
}
.timeline-date {
	font-weight: normal;
	margin-bottom: 10px;
	color: #FFD700;
	font-size: 20px;
}
.timeline-content {
	padding: 20px;
	background: #222;
	border-radius: 10px;
	position: relative;
	z-index: 4;
}
.timeline-item:nth-child(odd) .timeline-content {
	margin-left: 20px;
}
.timeline-item:nth-child(even) .timeline-content {
	margin-right: 20px;
}
/*--------------------------------------------------------------
# Prizes
--------------------------------------------------------------*/
.award-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
}
.award-row {
	display: flex;
	row-gap: 50px;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 80px;
	flex-wrap: wrap;
}
.award-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
	text-align: center;
	border: 2px solid white;
	border-radius: 25px;
	padding: 15px;
}
.gold-pri {
	animation: goldGlow 2s infinite ease-in-out;
}
.silver-pri {
	animation: silverGlow 2s infinite ease-in-out;
}
.bronze-pri {
	animation: bronzeGlow 2s infinite ease-in-out;
}
.school-pri {
	animation: lightBlueGlow 2s infinite ease-in-out;
}
.girls-pri {
	animation: lightPinkGlow 2s infinite ease-in-out;
}
@keyframes goldGlow {
	0%,
	100% {
		box-shadow: 0 0 30px rgba(255, 215, 0, 0.7), 0 0 60px rgba(255, 223, 0, 0.4), 0 0 100px rgba(255, 223, 0, 0.3);
	}
	50% {
		box-shadow: 0 0 50px rgba(255, 223, 0, 0.9), 0 0 80px rgba(255, 215, 0, 0.6), 0 0 120px rgba(255, 215, 0, 0.5);
	}
}
@keyframes silverGlow {
	0%,
	100% {
		box-shadow: 0 0 30px rgba(192, 192, 192, 0.7), 0 0 60px rgba(211, 211, 211, 0.4), 0 0 100px rgba(211, 211, 211, 0.3);
	}
	50% {
		box-shadow: 0 0 50px rgba(211, 211, 211, 0.9), 0 0 80px rgba(192, 192, 192, 0.6), 0 0 120px rgba(192, 192, 192, 0.5);
	}
}
@keyframes bronzeGlow {
	0%,
	100% {
		box-shadow: 0 0 30px rgba(205, 127, 50, 0.7), 0 0 60px rgba(244, 164, 96, 0.4), 0 0 100px rgba(244, 164, 96, 0.3);
	}
	50% {
		box-shadow: 0 0 50px rgba(244, 164, 96, 0.9), 0 0 80px rgba(205, 127, 50, 0.6), 0 0 120px rgba(205, 127, 50, 0.5);
	}
}
@keyframes lightBlueGlow {
	0%,
	100% {
		box-shadow: 0 0 30px rgba(173, 216, 230, 0.7), 0 0 60px rgba(135, 206, 250, 0.4), 0 0 100px rgba(135, 206, 250, 0.3);
	}
	50% {
		box-shadow: 0 0 50px rgba(135, 206, 250, 0.9), 0 0 80px rgba(173, 216, 230, 0.6), 0 0 120px rgba(173, 216, 230, 0.5);
	}
}
@keyframes lightPinkGlow {
	0%,
	100% {
		box-shadow: 0 0 30px rgba(255, 182, 193, 0.7), 0 0 60px rgba(255, 192, 203, 0.4), 0 0 100px rgba(255, 192, 203, 0.3);
	}
	50% {
		box-shadow: 0 0 50px rgba(255, 192, 203, 0.9), 0 0 80px rgba(255, 182, 193, 0.6), 0 0 120px rgba(255, 182, 193, 0.5);
	}
}
.award-box {
	width: 100%;
	max-width: 200px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.award-box:hover {
	transform: scale(1.05);
}
.winners-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.award-content {
	background: transparent;
	padding: 10px;
	margin-top: 10px;
	color: white;
}
.award-content strong {
	font-family: "Agdasima", sans-serif;
	color: transparent;
	-webkit-text-stroke: 1.5px #fff;
	font-size: 25px;
	margin-left: 10px;
}
.award-content h3,
.award-content p {
	margin: 0;
}
.award-content h3 {
	font-size: 2rem;
}
.award-content p {
	font-size: 1.7rem;
}
.award-row.second-third-row {
	margin-bottom: 60px;
}
.award-item.second-runner-up {
	margin-right: 40px;
}
/*--------------------------------------------------------------
# Sponsors
--------------------------------------------------------------*/
.gold {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
	justify-content: center;
	align-items: center;
}
.gold, .silver h2 {
	margin-bottom: 5px;
}
.gold img {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgb(0, 0, 0), 0 6px 20px rgb(0, 0, 0);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gold img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}
.gold a {
	display: inline-block;
}
.silver {
	padding-bottom: 40px;
}

.spon-title{
	font-size: 20px !important;
	margin: 10px;
}
.first-title{
	margin-top: 40px;
}
.bronze_sponsers{
	display: grid;
	grid-template-columns: repeat(4,200px);
	column-gap: 20px;
	row-gap: 20px;
	justify-content: center;
}

.carousel-images-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images-scroll-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.carousel-images {
    display: flex;
    white-space: nowrap;
    animation-timing-function: linear;
}

.primary-carousel {
    animation: scroll-left 150s linear infinite;
}

.secondary-carousel {
    animation: scroll-right 200s linear infinite;
}

.carousel-images img {
    width: 10px;
    margin: 0 10px;
    /* border: 2px solid #D0A022; */
	border-radius: 15px;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

@keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes scroll-right {
    from { transform: translateX(0); }
    to { transform: translateX(50%); }
}

/*--------------------------------------------------------------
# Partner With us
--------------------------------------------------------------*/
.cta {
	background-color: #343a40;
	color: #ffffff;
	padding: 60px 0;
	text-align: center;
}
.cta h2 a {
	color: #f9c922;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}
.cta h2 a:hover {
	color: #ffffff;
}
.cta .card-ct {
	width: 80%;
	margin: 0 auto;
	background-color: rgba(235, 235, 235, 0.1);
	backdrop-filter: blur(8px);
	border: none;
	border-radius: 8px;
	padding: 30px;
	color: #ffffff;
}
.cta .card-ct h3 {
	font-size: 35px;
	font-weight: bold;
	margin-top: 40px;
	color: #f9c922;
}
.cta .card-ct p {
	font-size: 1.6rem;
	letter-spacing: .08rem;
	line-height: 1.5;
	color: #e1e1e1;

}
.cta-btn {
	display: inline-block;
	background-color: #f9c922;
	color: #343a40;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 600;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.cta-btn:hover {
	background-color: #ffffff;
	color: #343a40;
}
.sponsor-brochure,
.contact-cta {
	margin: 0 10px;
}
/*--------------------------------------------------------------
# Judges & Speakers
--------------------------------------------------------------*/
.bd-container {
	max-width: 968px;
	padding: 0 3rem;
	font-family: "Teko", sans-serif !important;
}
.card-j {
	position: relative;
	overflow: hidden;
	padding: 5rem 0;
}
.card__container {
	display: grid;
	gap: 1.5rem;
}
.card__glass {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 1.8rem;
	background-color: rgba(235, 235, 235, 0.1);
	backdrop-filter: blur(5px);
	border-radius: 1.5rem;
}
.card__img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #F4F4FB;
	margin-bottom: 1rem;
}
.card__data {
	margin-bottom: .5rem;
}
.card__title {
	font-size: 1.125rem;
	color: #fff;
	font-weight: 700;
	margin-bottom: .25rem;
}
.card__profession {
	font-size: 1rem;
	color: #fff;
	font-weight: 500;
}
.card__button {
	display: inline-block;
	background: linear-gradient(130deg, rgba(251, 251, 254, .9), rgba(251, 251, 254, .2));
	padding: .75rem 1.5rem;
	border-radius: .5rem;
	color: var(--title-color);
	font-weight: 500;
	transition: .4s;
}
.card__button:hover {
	background: linear-gradient(130deg, rgba(251, 251, 254, 1), rgba(251, 251, 254, .4));
}
.card__social {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 3px;
}
.card__link {
	display: block;
	font-size: 1.35rem;
	color: #fff;
	margin: 1rem 0;
	transform: translateX(-5rem);
}
.card__link:nth-child(1) {
	transition: .2s;
}
.card__link:nth-child(2) {
	transition: .5s;
}
.card__link:nth-child(3) {
	transition: .7s;
}
.card__glass:hover .card__link {
	transform: translateX(-1.5rem);
}
.third-row{
	display: flex;
	justify-content: center;
	font-family: 'Teko' , sans-serif;
	margin-top: 25px;
	padding: 0 3rem;
	column-gap: 25px;
}
.third-row .card__glass{
	width: 275px;
}
.card__circle {
	position: absolute;
	width: 250px;
	height: 250px;
	background: linear-gradient(130deg, rgba(77, 73, 191, .8), rgba(255, 255, 255, .2));
	border-radius: 50%;
}
.card__circle1 {
	top: 20%;
	left: -20%;
}
.card__circle2 {
	bottom: -5%;
	right: -25%;
	background: linear-gradient(130deg, rgba(5, 219, 242, .8), rgba(255, 255, 255, .2));
}
/*--------------------------------------------------------------
# Workshop
--------------------------------------------------------------*/
.days-des{
	height: 300px;
}
.days-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0;
}

.days-buttons button {
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	font-weight: bolder;
	margin: 10px;
	width: 140px;
	padding: 10px;
	border-radius: 20px;
	background-color: rgba(66, 66, 66, 0.1);
	backdrop-filter: blur(8px);
	border-color: white;
	color: white;
	cursor: pointer;
}

.days-des .days-event {
    display: flex;               /* Use flexbox to display events horizontally */
    flex-wrap: wrap;             /* Allow wrapping of items if the container is too small */
    justify-content: space-around; /* Distribute space between items */
    color: white;
    visibility: hidden;          /* Hide events by default */
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.event-card {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	color: white;
}

.event-card h3 {
	font-size: 24px;
	font-weight: bold;
}

.event-card p {
	font-size: 16px;
	line-height: 1.5;
}
.day-1-events,
.day-2-events,
.day-3-events,
.day-4-events,
.day-5-events,
.day-6-events,
.day-7-events {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: none;  /* Hide all events by default */
}
/* Show event cards for a specific day */
.day-1-events.show,
.day-2-events.show,
.day-3-events.show,
.day-4-events.show,
.day-5-events.show,
.day-6-events.show,
.day-7-events.show {
  display: block; /* Show only the selected day's events */
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.ag-format-container {
	width: 1142px;
	margin: 0 auto;
  }
  .ag-courses_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	padding: 50px 0;
  }
  .ag-courses_item {
    flex: 1 1 calc(33.33333% - 30px); /* Each item takes up 1/3rd of the row space */
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}
  .ag-courses-item_link {
	display: block;
	height: 200px;
	padding: 30px 20px;
	background-color: #121212;
	overflow: hidden;
	position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
	text-decoration: none;
	color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
	-webkit-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
  }
  .ag-courses-item_title {
	min-height: 87px;
	margin: 0 0 25px;
	overflow: hidden;
	font-weight: bold;
	font-size: 30px;
	color: #FFF;
	z-index: 2;
	position: relative;
  }
  .ag-courses-item_title p{
	font-size: 1.3rem !important;
  }
  .ag-courses-item_date-box {
	font-size: 18px;
	color: #FFF;
	z-index: 2;
	position: relative;
  }
  .ag-courses-item_date {
	font-weight: bold;
	color: #f9b234;
	-webkit-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease
  }
  .ag-courses-item_bg {
	height: 128px;
	width: 128px;
	background-color: #f9b234;
	z-index: 1;
	position: absolute;
	top: -75px;
	right: -75px;
	border-radius: 50%;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
	background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
	background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
	background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
	background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
	background-color: #4c49ea;
  }
/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.display-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
@keyframes colorful {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}
.container-team {
	position: relative;
	z-index: 1;
	padding: 2em 0em;
}
.grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: center;
	align-items: center;
}
.event-directors{
	display: flex;
	justify-content: center;
	align-items: center;
}
.layout .card .content , .layout .card{
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-evenly !important;
	width: 400px !important;
	height: 230px !important;
}
.layout .card .content .cardContent h3{
	font-size: 25px !important;
}
.container-team .grid .card , .first .card , .event-directors .card {
	position: relative;
	width: 250px;
	height: 310px;
	margin: 1em;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	backdrop-filter: blur(40px);
	border: solid 2px transparent;
	background-clip: padding-box;
	box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}
.container-team::-webkit-scrollbar {
	display: none;
}
.container-team .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}
.container-team .card .content .img {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid black;
	opacity: 0.95;
	transition: 0.5s;
}
.container-team .card .content .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container-team .card .content .cardContent{
	opacity: 0.5;
	transition: 0.5s;
}
.container-team .card:hover .content .cardContent{
	transition: 0.5s;
	opacity: 1;
}
.container-team .card:hover .content .img {
	opacity: 1;
	transition: 0.5s;
}

.container-team .card .content .cardContent h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}
.container-team .card .content .cardContent h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}
.container-team .card .sci {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.layout .card .sci{
	position: absolute !important;
	bottom: 45px !important;
	right: 23px !important;
}
.container-team .card .sci li {
	margin: 0 10px;
	transform: translateY(40px);
	opacity: 0;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
}
.container-team .card .sci li a {
	font-size: 24px;
}
.container-team .card:hover .content {
	opacity: 1;
	transform: translateY(-20px);
}
.container-team .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}
.first,
.cardContent p {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	color:#adadad;
	font-size: 20px;
}
.cardContent p {
	margin-bottom: 50px;
}
.fa {
	color: white;
}
ul {
	list-style: none;
	padding-left: 0 !important;
}
/*--------------------------------------------------------------
# Track Prices
--------------------------------------------------------------*/
  a {
	text-decoration: none;
  }
  
  .track-price {
	display: grid;
	place-items: center;
	margin-inline: 1.5rem;
  }
  
  .price-box, .card__article {
	display: grid;
	gap: 2rem;
  }
  
  .price-box {
	padding-block: 4.5rem;
  }
  
  .card__article {
	--hue-1: 210;
	--hue-2: 238;
	position: relative;
	justify-items: center;
	color: var(--white-color);
	text-align: center;
	padding: 4rem 2rem 3rem;
	border: 4px solid transparent;
	background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
	border-radius: 1.25rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 100;
  }
  
  .card__shape-1 {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 2rem;
	z-index: 2;
	padding-left: 10px;
  }
  
  .card__shape-3 {
	width: 180px;
	height: 180px;
	background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
  }
  
  .card__shape-3 img {
	width: 250px;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
  }
  
  .card__icon {
	font-size: 3rem;
  }
  
  .card__data {
	z-index: 3;
  }
  
  .card__title {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
	color: #fff;
  }
  
  .card__description {
	margin-bottom: 1.5rem;
  }
  
  .card__button {
	display: inline-block;
	background-color: var(--white-color);
	border-radius: 0.5rem;
	color: var(--black-color);
	font-weight: 500;
  }
  
  .card__orange {
	--hue-1: 300;
	--hue-2: 30;
  }
  
  .card__green {
	--hue-1: 180;
	--hue-2: 50;
  }
  
  .card__scale-1 {
	width: 148px;
	height: 148px;
	background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
	border-radius: 2rem;
	top: 4rem;
  }
  
  .card__scale-2 {
	width: 116px;
	height: 116px;
	background: var(--container-color);
	border-radius: 1.5rem;
	top: 5rem;
  }
  
  .card__scale-1, .card__scale-2 {
	position: absolute;
	filter: blur(24px);
	transition: transform 0.3s ease-in;
  }
  
  .card__article:hover .card__scale-1,
  .card__article:hover .card__scale-2 {
	transform: scale(6);
  }
/*--------------------------------------------------------------
# Contact us
--------------------------------------------------------------*/
#Contact .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#Contact .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 35px;
}
#Contact .col-lg-6,
#Contact .col-md-6 {
	flex: 1;
	max-width: 400px;
	width: 100%;
}
#Contact i {
	font-size: 36px;
	color: #f9c922;
	margin-bottom: 10px;
}
#Contact h3 {
	font-size: 20px;
	margin-bottom: 10px;
	color: #343a40;
}
#Contact p {
	color: #555555;
	margin-bottom: 0;
}
div .contact_name {
	display: flex;
}
div .contact_name .name {
	width: 200px;
}
.row-puw{
	display: flex;
	justify-content: space-around ;
	padding: 40px;
}
.details{
	text-align: center;
}
#faq-head {
	color: white;
}
@media(max-width: 425px) {
	#faq-head {
		font-size: 1rem;
	}
}

/*--------------------------------------------------------------
# FAQs
--------------------------------------------------------------*/
#faq .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
#faq h2.faq-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #f5f6fa;
}
#faq .faq-section {
    padding: 40px 0;
}
#faq .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#faq .faq-column {
    width: 48%;
}
#faq .accordion {
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
}
#faq .accordion-item {
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}
#faq .accordion-button {
	font-family: "Teko", sans-serif !important;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
	letter-spacing: .05rem;
}
#faq .accordion-button:hover {
    background-color: #444;
}
#faq .accordion-icon {
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}
#faq .accordion-button.active .accordion-icon {
    transform: rotate(45deg);
}
#faq .accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: #444;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    padding: 0 15px;
	line-height: 1.6;
}
#faq .accordion-content p {
	margin: 10px 0;
	padding: 5px 10px;
	font-size: 18px !important;
    color: #fff; 
	align-items: center !important;
	text-align: justify;
}

#faq .accordion-item.active {
    box-shadow: 0 0 15px rgba(50, 205, 50, 0.7);
    border: 1px solid rgba(50, 205, 50, 0.7);
}
#faq .accordion-item.active .accordion-button {
    background-color: rgba(50, 205, 50, 0.1);
}
#faq .accordion-button .accordion-icon {
    transition: transform 0.3s ease; 
}
#faq .accordion-button.active .accordion-icon {
    transform: rotate(45deg);
}
.faq_res {
	margin-top: none;
}
/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-container {
	padding: 20px;
	transition: transform 0.3s, box-shadow 0.3s;
	position: relative;
}
.contact-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	border-radius: 15px;
	opacity: 0;
	transition: opacity 0.3s;
}
.icon-style {
	font-size: 45px;
	color: #fff;
	margin-bottom: 15px;
	transition: color 0.3s;
}
.contact-title {
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: color 0.3s;
}
.contact-detail {
	font-size: 17px;
	color: #fff;
	margin: 0;
	line-height: 1.6;
	transition: color 0.3s;
}
.contact_name {
	text-align: center;
}
/*--------------------------------------------------------------
# RESPONSIVE STYLES FOR STYLE 2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/
@media(max-width : 768px) {
	.timeline{
		padding: 100px 0px 0px 0px;
	}

	.timeline-item:nth-child(even),
	.timeline-item:nth-child(odd) {
		padding-left: 0;
		padding-right: 0%;
		text-align: left;
	}

	.timeline-item:nth-child(odd) .timeline-content,
	.timeline-item:nth-child(even) .timeline-content {
		margin-right: 0;
		margin-left: 20px;
	}

	.timeline-line {
		left: 0%;
	}
}
/*--------------------------------------------------------------
# Workshops
--------------------------------------------------------------*/
@media only screen and (max-width: 979px) {
	.ag-courses_item {
	  -ms-flex-preferred-size: calc(50% - 30px);
	  flex-basis: calc(50% - 30px);
	}
	.ag-courses-item_title {
	  font-size: 24px;
	}
  }
  @media only screen and (max-width: 767px) {
	.ag-format-container {
	  width: 96%;
	}
  }
  @media only screen and (max-width: 639px) {
	.ag-courses_item {
	  -ms-flex-preferred-size: 100%;
	  flex-basis: 100%;
	}
	.ag-courses-item_title {
	  min-height: 72px;
	  line-height: 1;
  
	  font-size: 24px;
	}
	.ag-courses-item_link {
	  padding: 22px 40px;
	}
	.ag-courses-item_date-box {
	  font-size: 16px;
	}
  }

/*--------------------------------------------------------------
# Prices
--------------------------------------------------------------*/
@media (max-width: 1024px) {
	.award-box {
		max-width: 180px;
	}
	.award-item {
		margin: 0 15px;
	}
}
@media (max-width: 768px) {
	.award-box {
		max-width: 150px;
	}
	.award-item {
		margin: 0 10px;
	}
	.award-content h3 {
		font-size: 1.1rem !important;
	}
}
@media (max-width: 480px) {
	.award-box {
		max-width: 120px;
	}
	.award-content h3 {
		font-size: 1rem;
	}
	.award-content p {
		font-size: 0.9rem;
	}
	.timeline-content h3{
		font-size: .8em !important;
	}
}
@media (max-width: 320px) {
	.award-box {
		max-width: 100px;
	}
	.award-content h3 {
		font-size: 0.9rem;
	}
	.award-content p {
		font-size: 0.8rem;
	}
	.timeline-content h3{
		font-size: .6em !important;
	}
}
/*--------------------------------------------------------------
# Sponsors
--------------------------------------------------------------*/

.com{
	margin: 10px 0px;
}

@media (min-width: 1700px) {
	.carousel-images-container{
		width: 200vw !important;
	}
}
@media (min-width: 1300px) and (max-width: 1441px) {
	.bronze_sponsers{
		row-gap: 20px;
		column-gap: 50px;
	}
}
@media(min-width: 1700px){
	.bronze_sponsers{
		column-gap: 70px;
	}
}
@media (min-width: 2150px) {
	.bronze_sponsers{
		column-gap: 110px;
	}
}
@media (min-width: 2400px) {
	.bronze_sponsers{
		column-gap: 130px;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
	.gold img {
		width: 16vw;
	}
	.gold a {
		width: 16vw;
	}
	.cara a img{
		width: 15vw;
	}
	.carousel-images-container{
		width: 80%;
	}
}
@media(max-width : 1024px){
	.bronze_sponsers{
		grid-template-columns: repeat(3,200px);
		column-gap: 40px;
	}
	.bronze_sponsers a img{
		width: 200px;
	}
	.cara a img{
		width: 22vw;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.gold img {
		width: 25vw;
	}
	.gold a {
		width: 25vw;
	}
	.carousel-images-container{
		width: 80%;
	}
}
@media (min-width: 426px) and (max-width: 767px) {
	.gold img {
		width: 35vw;
	}
	.gold a {
		width: 35vw;
	}
	.cara a{
		width: 24vw;
	}
	.cara a img {
		width: 23vw;
	}
	.carousel-images-container{
		width: 80%;
	}
}
@media(max-width: 600px) {
	.com {
		margin-bottom: 20px;
	}
	.bronze_sponsers{
		grid-template-columns: repeat(2,150px);
		column-gap: 55px;
	}
	.bronze_sponsers a img{
		width: 160px;
	}
	.bronze_sponsers .com{
		margin-bottom: 0px;
	}
}
@media(min-width: 600px) and (max-width: 768px){
	.bronze_sponsers{
		grid-template-columns: repeat(3,150px);
	}
	.bronze_sponsers a img{
		width: 160px;
	}
	.bronze_sponsers .com{
		margin-bottom: 0px;
	}
	.cara a{
		width: 26vw;
	}
	.cara a img {
		width: 25vw;
	}
	.carousel-images-container{
		width: 80%;
	}
}
@media (max-width: 425px) {
	.gold {
		flex-direction: column;
		row-gap: 20px;
	}
	.gold img {
		width: 35vw !important;
	}
	.gold a {
		width: auto;
	}
	.bronze_sponsers{
		column-gap: 10px;
	}
	.cara a{
		width: 33vw !important;
	}
	.cara a img {
		width: 32vw !important;
	}
	.carousel-images-container{
		width: 90% !important;
	}
}
@media only screen and (max-width: 1000px) and (min-width: 760px) {
	.owl-carousel .item img {
		width: 80%;
		max-width: 200px;
		height: auto;
	}
}
@media(max-width: 600px) {
	.bronze_slide {
		height: 115px !important;
	}
	.bronze_slide img {
		margin-bottom: 15px;
	}
	.spon {
		margin-bottom: 0 !important;
	}
	.cara a{
		width: 26vw;
	}
	.cara a img {
		width: 25vw;
	}
	.carousel-images-container{
		width: 80%;
	}
}
@media (min-width: 1440px) {
	.gold img {
		width: 17vw;
	}
	.gold a {
		width: 17vw;
	}
	.bronze,
	.com img {
		width: 11vw;
	}
	.non-cara a img{
		width: 12vw !important;
	}
	.bronze,
	.com a {
		width: 12vw;
	}
}
/*--------------------------------------------------------------
# Partner With us
--------------------------------------------------------------*/
@media(max-width: 900px) {
	.cta {
		padding: 0px;
	}
}
@media (max-width: 768px) {
	.cta h2 {
		font-size: 20px;
	}
	.cta .card-ct h3 {
		font-size: 2rem;
	}
	.cta-btn {
		padding: 8px 16px;
		font-size: 14px;
	}
	.cta .card-ct p {
		font-size: 1rem;
	}
}
@media(max-width: 480px) {
	.puw-btn {
		display: flex;
		flex-direction: column;
	}
}
/*--------------------------------------------------------------
# Judges & Speakers
--------------------------------------------------------------*/
@media (max-width: 768px) and (min-width: 568px) {
	.card__container {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 90px;
	}
}
@media screen and (min-width: 768px) {
	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}
	.card__container > :nth-child(10){
		grid-area: 4 / 2 / 5 / 3;
	}
	.card {
		padding: 0;
	}
	.card__container {
		grid-template-columns: repeat(3, 1fr);
		align-content: center;
		margin-top: 50px;
	}
	.card__circle1 {
		left: 5%;
		top: 12%;
	}
	.card__circle2 {
		right: 8%;
		bottom: 15%;
	}
}
@media(max-width: 568px){
	.card__container{
		margin-top: 80px;
	}
	.third-row , .third-row .card__glass{
		width: 100%;
	}
	.third-row{
		flex-direction: column;
		row-gap: 25px;
	}
}
@media(max-width: 400px){
	.card__profession{
		font-size: .8rem;
	}
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
@media (max-width: 2700px){
	.modify{
		font-size: 260px !important;
	}
	.layout .card .content{
		flex-direction: row;
		justify-content: space-evenly;
	}
}
@media (max-width: 2100px){
	.container-team .grid .card{
		width: 240px;
		height: 300px;
	}
	.modify{
		font-size: 235px !important;
	}
	.container-team .card .content .img{
		width: 110px;
		height: 110px;
	}
	.container-team .card .sci li a {
		font-size: 22px;
	}
	.cardContent p{
		margin-bottom: 30px;
	}
	.layout .card .content , .layout .card{
		width: 400px !important;
		height: 230px !important;
	}
	.layout .card .sci{
		position: absolute !important;
		bottom: 45px !important;
		right: 40px !important;
	}
}
@media (max-width: 1750px){
	.container-team .grid .card{
		width: 210px;
		height: 270px;
	}
	.modify{
		font-size: 210px !important;
	}
	.container-team .card .content .img{
		width: 100px;
		height: 100px;
	}
	.container-team .card .content .cardContent h3{
		font-size: 18px;
	}
	.container-team .card .sci li a {
		font-size: 20px;
	}
	.layout .card .content , .layout .card{
		width: 350px !important;
		height: 180px !important;
	}
	.layout .card .sci{
		position: absolute !important;
		bottom: 20px !important;
		right: 40px !important;
	}
	.hod .card .sci{
		right: 75px !important;
	}
}
@media (max-width: 1560px){
	.container-team .grid .card{
		width: 200px;
		height: 260px;
		margin: .5em;
	}
	.modify{
		font-size: 185px !important;
	}
	.container-team .card .sci li a {
		font-size: 17px;
	}
}
@media(max-width: 1400px){
	.grid{
		grid-template-columns: auto auto auto auto;
	}
	.modify{
		font-size: 150px !important;
	}
}
@media(max-width: 1075px) {
	.grid{
		grid-template-columns: auto auto auto;
	}
	.modify{
		font-size: 125px !important;
	}
	.layout .card .content .cardContent h3{
		font-size: 20px !important;
	}
}
@media(max-width: 968px){
	.modify{
		font-size: 100px !important;
	}
}
@media(max-width: 768px) {
	.grid {
		grid-template-columns: auto auto;
	}
	.modify{
		font-size: 70px !important;
	}
	.hod .card .sci{
		right: 90px !important;
	}
	.event-directors .eve_card .sci{
		right: 50px !important;
	}
	.cardContent p{
		margin-bottom: 10px !important;
	}
	.container .card .content .cardContent h3 {
		letter-spacing: 0;
		font-size: 12px;
	}
	.container .card .content .cardContent p {
		font-size: 15px;
	}
	.container-team .grid .card , .event-directors .card , .first .card	{
		margin: .5em;
		width: 250px !important;
		height: 260px !important;
	}
	.layout .card .content{
		height: auto !important;
		width: auto !important;
	}
	.event-directors{
		margin: 20px 0px 10px 0px;
		column-gap: 25px;
	}
	.container-team .event-directors .card , .container-team .first .card{
		margin: .1em;
	}
	.modify-small{
		font-size: 50px;
	}
	.layout .card .content{
		flex-direction: column !important;
	}
}
@media(max-width: 530px) {
	.container-team .grid .card , .event-directors .card , .first .card{
		width: 200px;
		height: 280px;
	}
	.modify{
		font-size: 45px !important;
	}
	.event-directors .card{
		padding: 40px 0px;
	}
	.event-directors .eve_card .sci{
		right: 43px !important;
	}
}
@media(max-width: 450px){
	.container-team .grid .card , .event-directors .card , .first .card{
		width: 170px !important;
		height: 250px;
	}
	.container-team .card .content .img{
		width: 80px;
		height: 80px;
	}
	.event-directors .card{
		padding: 20px 0px;
	}
	.container-team .card .content .cardContent h3{
		font-size: 13px !important;
	}
	.container-team .card .sci li a {
		font-size: 15px;
	}
	.event-directors .eve_card .sci{
		right: 25px !important;
	}
	.event-directors .eve_card .sci li{
		width: 10px;
	}
	.hod .card .sci{
		right: 50px !important;
	}
}
@media(max-width: 375px){
	.container-team .grid .card , .event-directors .card , .first .card{
		width: 130px !important;
		height: 230px;
		margin: .3em;
	}
	.event-directors{
		column-gap: 10px;
	}
	.modify-small{
		font-size: 35px !important;
	}
	.modify{
		font-size: 40px !important;
	}
	.container-team .card .content .img{
		width: 75px;
		height: 75px;
	}
	.container-team .card .sci li a {
		font-size: 14px;
	}
	.cardContent p{
		margin-bottom: 20px;
	}
	.event-directors .eve_card .sci{
		right: 16px !important;
	}
	.event-directors .eve_card .sci li{
		width: 5px;
	}
	.hod .card .sci{
		right: 32px !important;
	}
}
@media(max-width: 1000px) and (min-width: 768px){
	.container-team .grid .card{
		width: 250px;
		margin: .1em;
		height: 300px;
	}
	.grid{
		row-gap: 15px;
		margin-top: 15px;
	}
}
/*--------------------------------------------------------------
# Track Prices
--------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
	:root {
	  --h2-font-size: 1.5rem;
	  --normal-font-size: 1rem;
	}
  }
@media (hover: none) {
	.card__article:hover .card__scale-1,
	.card__article:hover .card__scale-2 {
	  transform: none;
	}
  }
  
  @media screen and (max-width: 320px) {
	.track-price {
	  margin-inline: 1rem;
	}
  
	.card__article {
	  padding: 2rem 1rem;
	}
  
	.card__scale-1 {
	  top: 2rem;
	}
  
	.card__scale-2 {
	  top: 3rem;
	}
  }
  
  @media screen and (min-width: 576px) {
	.price-box {
	  grid-template-columns: 328px;
	}
  }
  
  @media screen and (min-width: 768px) {
	.price-box {
	  grid-template-columns: repeat(2, 328px);
	}
  }
  
  @media screen and (min-width: 1120px) {
  
	.price-box {
	  grid-template-columns: repeat(3, 345px);
	}
  
	.card__article {
	  padding: 2rem;
	}
  }
  @media(max-width: 578px){
	.price-box {
		grid-template-columns: 258px;
	  }
	.card__shape-3 img{
		width: 170px;
		height: auto;
	}
	.card__shape-3{
		background: none;
		height: auto;
	}
	.card__shape-1{
		height: 100px
	}
	.card__title{
		font-size: 2rem;
	}
	.card__description{
		font-size: 1.5rem;
		margin-bottom: 0;
	}
	.card__article{
		row-gap: 10px;
	}
  }
  @media(max-width: 480px){
	.card__shape-3 img{
		width: 150px;
		height: auto;
	}
	.card__shape-3{
		background: none;
		height: auto;
	}
	.card__shape-1{
		height: 100px
	}
	.card__title{
		font-size: 1.5rem;
	}
	.card__description{
		font-size: 1rem;
		margin-bottom: 0;
	}
	.card__article{
		row-gap: 5px;
		padding: 2rem 2rem 1rem;
	}
  }
/*--------------------------------------------------------------
# FAQs
--------------------------------------------------------------*/
@media(max-width: 992px) {
	.faq_res {
		margin-top: 25px;
	}
}
@media (max-width: 768px) {
    #faq .faq-column {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media(max-width: 480px){
	#faq .accordion{
		padding: 0px !important;
	}
	.faq-column{
		margin-bottom: 0px !important;
	}
}