/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.custom-footer {
	background-color: #222;
	color: #fff;
	padding: 40px 0;
	font-family: Arial, sans-serif;
}

.custom-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.custom-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.custom-col {
	flex: 1;
	min-width: 200px;
}

.custom-footer-logo {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.custom-footer-text {
	margin-bottom: 15px;
	font-size: 16px;
}

.custom-social-links {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 15px;
}

.custom-social-links li a {
	color: #fff;
	font-size: 18px;
}

.custom-footer-heading {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.custom-footer-address,
.custom-footer-links {
	margin-bottom: 15px;
	font-size: 16px;
}

.custom-footer-links {
	list-style: none;
	padding: 0;
}

.custom-footer-links li {
	margin-bottom: 10px;
}

.custom-footer-links li a {
	color: #fff;
	text-decoration: none;
}

.custom-footer-links li a:hover {
	text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.custom-col {
		min-width: 100%;
	}

	.custom-footer {
		text-align: center;
	}

	.custom-social-links {
		justify-content: center;
	}
}

/* Twinkle background style for prices and timeline */

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.twinkle_back {
    position: relative;
    z-index: 1; /* To keep content above background */
    padding: 40px 0; /* Adjust as needed */
    overflow: hidden;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0; /* Ensure background is behind content */
    pointer-events: none; /* Make background non-interactive */
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    animation: move-background 70s linear infinite;
}